## Decidim configuration
DECIDIM_APPLICATION_NAME=Decidim Gava App
DECIDIM_MAILER_SENDER: example@mail.com
DECIDIM_AVAILABLE_LOCALES=ca, en, es
DECIDIM_DEFAULT_LOCALE=ca
DECIDIM_CORS_ENABLED=true
DECIDIM_TRACK_NEWSLETTER_LINKS=auto
DECIDIM_THROTTLING_MAX_REQUESTS=250
# DECIDIM_THROTTLING_PERIOD in minutes
DECIDIM_THROTTLING_PERIOD=1
DECIDIM_FOLLOW_HTTP_X_FORWARDED_HOST=true
DECIDIM_ENABLE_HTML_HEADER_SNIPPETS=true
VERIFICATIONS_DOCUMENT_TYPES="dni,nie,passport"

# AWS
AWS_ACCESS_KEY=""
AWS_S3_BUCKET=""
AWS_SECRET_KEY=""

## DATABASE
# PROD/STAGING
DATABASE_URL=url_database
# Database local (DATABASE_URL takes precedence over DB_HOST/DB_USERNAME/DB_PASSWORD)
DATABASE_URL=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=

# Here maps
GEOCODER_LOOKUP_API_KEY=api_key

# SMTP
SMTP_ADDRESS=
SMTP_DOMAIN=
SMTP_PORT=
SMTP_PASSWORD=
SMTP_USERNAME=

SECRET_KEY_BASE=

# Census
CENSUS_URL=https://example.org
